body {
  background: #363b4e;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}
h1 {
  text-align: center;
  color: #927fbf;
}
h2 {
  text-align: center;
  color: #c4bbf0;
}
a {
  color: #927fbf;
  font-size: 20px;
}
a:visited {
  color: #c4bbf0;
  font-size: 20px;
}
p {
  color: #c4bbf0;
}
h3 {
  color: #c4bbf0;
}
ul {
  color: #c4bbf0;
  font-size: 16px;
}
b {
  color: aliceblue;
}
hr {
  border-color: #927fbf;
}